
/* -- 重定义 ---*/
$kxxx-link-color : $gray-dark;

a{
  color: $gray-dark;
}
a:hover{
  color: $link-color;
  text-decoration: none;
}


/* -- 常用 -- */
hr.kxxx-line {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.kxxx-header a{
  color: #9d9d9d;
}
.navbar-nav .current-menu-item > a{
  color: #fff !important;
}

.kxxx-main{
  padding-top: 85px;
}

.kxxx-content{
  padding:10px 16px 10px 16px;
  border:1px solid #e1e1e8;
  border-radius: 4px;
}

.kxxx-content .entry-content{
  line-height: 28px;
}
.kxxx-content .entry-content p{
  text-indent: 2em;
}

.kxxx-content video{
  @extend .center-block;
}


@media (min-width: $screen-lg-min) {
  .kxxx-content img{
    max-width:700px;
  }
  .kxxx-content .kxxx-thumb{
    width: 160px;
    height: 150px;
    float: left;
    margin:10px;
  }
  .kxxx-content .entry-content video{
    width: 600px;
    height: 450px;
  }
}

@media (max-width: $screen-sm-max) {
  .kxxx-content .entry-content video{
    width: 320px;
    height: 240px;
  }
}

.navigation.pagination{
  width: 100%;
}
.navigation.pagination .screen-reader-text{
  display: none;
}

@mixin page-numbers{
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #111;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination a.page-numbers{
  @include page-numbers;
  &:hover{
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
  }
  &:focus{
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
  }
}
.pagination .page-numbers.current{
  @include page-numbers;
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #9d9d9d;
  border-color: #d5dde0;
}


.navigation .nav-links{
  height: 40px;
  //border: 1px solid #e1e1e8;
  //border-radius: 4px;
  text-align: center;
}

.kxxx-sidbar{
  padding:10px 12px 10px 12px;
  border:1px solid #e1e1e8;
  border-radius: 4px;
}

.entry-footer{
  font-size: 13px;
  margin-top: 30px;
}

.footer{
  margin-top: 30px;
  color: #777;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  //position: absolute;
  bottom: 0;
}

/*---- sidbar ----*/
.kxxx-sidbar section ul{
  padding-left: 16px;
}
.kxxx-sidbar section ul li{
  //list-style: none;
  font-size: 13px;
  line-height: 26px;
}

.kxxx-sidbar .widget_media_image figure{
  @extend .center-block;
}


/*-----single -------*/
.kxxx-single-title{
  margin-top: 30px;
  margin-bottom: 30px;
}

/**------- 自带样式修改 --- **/
.post-navigation{
  @include clearfix;
}
.nav-previous{
  float: left;
}
.nav-next{
  float: right;
}